<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.store.dao.StoreMapper" >
  <resultMap id="BaseResultMap" type="com.store.entity.Store" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="storeType" property="storetype" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userId, storeType, description
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from store
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from store
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.store.entity.Store" >
    insert into store (id, userId, storeType, description,image)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{storetype,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR},#{image,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.store.entity.Store" >
    insert into store
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="storetype != null" >
        storeType,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="image != null" >
        image,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="storetype != null" >
        #{storetype,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.store.entity.Store" >
    update store
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="storetype != null" >
        storeType = #{storetype,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.store.entity.Store" >
    update store
    set userId = #{userid,jdbcType=INTEGER},
      storeType = #{storetype,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--以下为后续添加内容-->

  <select id="getAllStore" resultType="Store">
    select *
    from store;
  </select>

  <delete id="deleteStoreById" parameterType="int">
    delete
    from store
    where id = #{id};
  </delete>
<!--通过userId获取商店对象-->
  <select id="selectByUserId" parameterType="Integer" resultType="com.store.entity.Store">
    select *
    from store
    where userId = #{userId,jdbcType=INTEGER}
  </select>

  <select id="getStoreById" resultType="Store" parameterType="java.lang.Integer">
    select *
    from store
    where id=#{id}
  </select>

</mapper>